/*<==== global====>*/
body{
    font-family: "Poppins", sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Montserrat", sans-serif;
}
/*<==== Navbar====>*/
.navbar-nav .nav-link {
    color: white;
    font-size: 14px;
}
.navbar-nav{
    position: relative;
}
.navbar-nav .nav-link.active{
    border-bottom: 1px solid white;
}
/*<====header====>*/
header{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../imgs/bg.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}
header p:after {
    content: "|";
    animation-name: typing;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    font-weight: 300;
}
@keyframes typing {
    
0% {
    content: "|";
}

1% {
    content: "|";
}

2% {
    content: "D|";
}

3% {
    content: "De|";
}

4% {
    content: "Dev|";
}

5% {
    content: "Deve|";
}

6% {
    content: "Devel|";
}

7% {
    content: "Develo|";
}

8% {
    content: "Develop|";
}

9% {
    content: "Develope |";
}

10% {
    content: "Developer|";
}

11% {
    content: "Develope|";
}

12% {
    content: "Develop|";
}

13% {
    content: "Develo|";
}

14% {
    content: "Devel|";
}

15% {
    content: "Deve|";
}

16% {
    content: "Dev|";
}

17% {
    content: "De|";
}

18% {
    content: "D|";
}

19% {
    content: "|";
}

20% {
    content: "D|";
}

21% {
    content: "De|";
}

22% {
    content: "Des|";
}

23% {
    content: "Desi|";
}

24% {
    content: "Desig|";
}

25% {
    content: "Design|";
}

26% {
    content: "Designe|";
}

27% {
    content: "Designer|";
}

28% {
    content: "|";
}

29% {
    content: "Designe|";
}

30% {
    content: "Design|";
}

31% {
    content: "Desig|";
}

32% {
    content: "Desi|";
}

33% {
    content: "Des|";
}

34% {
    content: "De|";
}

35% {
    content: "D|";
}

36% {
    content: "|";
}

37% {
    content: "|";
}

38% {
    content: "L|";
}

39% {
    content: "La|";
}

40% {
    content: "Lar|";
}

41% {
    content: "Larr|";
}

42% {
    content: "Larry|";
}


43% {
    content: "Larr|";
}

44% {
    content: "Larr|";
}

45% {
    content: "Lar|";
}

46% {
    content: "La|";
}

47% {
    content: "L|";
}

48% {
    content: "|";
}

49% {
    content: "|";
}
}

.h-icon{
    width: 40px;
    height: 40px;
    border: 3px  rgba(0,0,0,0.5);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
}
/*<====about====>*/
.about .about-img{
    position: relative;
    padding: 0 0 0 30px;
}

.about .about-img::after{
    content: "";
    width: 70%;
    height:70%;
    position: absolute;
    left: 0;
    bottom:-30px;
    background-image: url(../imgs/dots.png);
    background-repeat: repeat;
    z-index: -1;
}
.about span{
letter-spacing: 2px;
color: rgba(128, 128, 128, 0.896);
font-weight: 400;
font-size: 14px;
}
.about h3{
    font-weight: 800;
    font-size: 30px;
}
.about p{
    color: #748182
    ;
}


.progress{
    margin-bottom: 20px;
    height:25px;
}
.progress p{
    color: white;
}
/*<====services====>*/
.section-header h3{
    font-weight: 900;
    font-size: 40px;
    position: relative;
    z-index: 4;
}
.section-header h3::after{
    content: "";
	position: absolute;
	bottom: -2px;
	left: 50%;
	height: 2px;
	width: 160px;
	transform: translateX(-50%);
	background-image: url(../imgs/dots.png);
}
.icon-crcl{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(0,0,0,0.09);
    transition: all 0.5s;
}
.col-md-6{
    transition: all 0.5s;
}
.col-md-6:hover .icon-crcl{
    background-color:black;
    color: #fff;
}

 .icon-crcl:hover{
    background-color:black;
    color: #fff;
}
.col-md-6 p{
    font-size: 14px;
    font-weight: 400;
    color: #748182
    ;
}

/*<====works====>*/
.nav-underline .nav-link{
   color:black;
}
.layer {
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    opacity: 0;
    background-color:#fff;
    transition: all 0.5s;
}

.inner-layer {
    transform: translateY(10px);
    transition: all 0.5s;
}


.col-inner:hover .layer {
    opacity: 0.9;
}

.col-inner:hover .inner-layer {
    transform: translateY(0);
   
}
.crcl{
    width:30px;
    height: 30px;
    border-radius: 50%;
    background-color:black;
    border: 0.5px solid;
    color: white;
    transition: all 0.4s;
    font-size: 14px;
}
.inner-layer h6{
    letter-spacing: 2px;
    font-size: 12px;
    transform: translateY(-20px);
    transition: all 0.4s;
}
.col-inner:hover h6{
    transform: translateY(0);
}
.crcl:hover{
    background-color: #fff;
    color: black;
    border-color: black;
}


.carousel-indicators [data-bs-target] {
    background-color: #748182;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    
}
.carousel-inner img{
    width:100px;
}
.testimonials span{
    font-size:12px;
    color: #748182;
}
.testimonials p{
    color: #748182;
}


.counter p{
    color: #748182;
}
.card-body{
    background-color: #5B5B5B;
}

.team-layer {
    top: 4px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    opacity: 0;
    background-color:#fff;
    transition: all 0.7s;
    transform: rotateY(180deg);
    
}

.card:hover .team-layer {
    opacity: 0.9;
    transform: rotateY(0deg)
}

.t-icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border:1px solid black;
    background-color:black;
    font-size: 24px;
    color: #fff;
}
.t-icon:hover{
background-color: #fff;
color: #000;
}

.team-img img{

transition: all 0.4s;
}

.team-img:hover img{
    transform: scale(1.1);
}

.card{
    width: 90%;
}

.contact p{
    color: #748182;
    font-size: 15px;
    font-weight: 400;
}
.contact h4{
    font-weight: 700;
    font-size: 16px;
}
.icon-container{
    background-color:#f4f4f4;
    width: 60px;
    height: 60px;
    border:1px ;
transition: all 0.5s;
}
.icon-container:hover{
background-color: #000;
color: #fff;
}
input[type="text"],
input[type="email"],
textarea {
	background-color: #F4F4F4 !important;
	border-color: #F4F4F4 !important;
}


footer{
    background-color: #000;
    color: #748182
    ;
    font-size: 13px;
}



@media (max-width: 768px) {
	h1 {
		font-size: 2.5rem;
	}
	.hero .captions h3 {
		font-size: 3rem;
	}
    .navbar-nav .nav-link.active{
        border-bottom: none;
    }
}
